spring:
  application:
    name: shorty

  jpa:
    open-in-view: false
    properties:
      hibernate:
        ddl-auto: update
        format_sql: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

logging:
  level:
    root: INFO
    com.tickety: DEBUG

---
spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}

  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none

management:
  endpoint:
    health:
      show-details: when-authorized

logging:
  level:
    root: WARN
    com.tickety: INFO